html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
td a {
    text-decoration: none;
}
a{
    text-decoration: none;
}


.myBtn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
}

    .myBtn span {
        transition: 200ms;
    }

    .myBtn .text {
        transform: translateX(35px);
        color: white;
        font-weight: bold;
    }

    .myBtn .icon {
        position: absolute;
        border-left: 1px solid;
        transform: translateX(110px);
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .myBtn svg {
        width: 15px;
        fill: #eee;
    }

    .myBtn:hover {
        background: #ff3636;
    }

        .myBtn:hover .text {
            color: transparent;
        }

        .myBtn:hover .icon {
            width: 150px;
            border-left: none;
            transform: translateX(0);
        }

    .myBtn:focus {
        outline: none;
    }

    .myBtn:active .icon svg {
        transform: scale(0.8);
    }

    .myBtn.red {
        background: #e62222;
    }

        .myBtn.red .icon {
            border-color: #c41b1b;
        }

    .myBtn.orange {
        background: #FFA500;
    }

        .myBtn.orange .icon {
            border-color: #cb8e1e;
        }

 
    .myBtn.green {
        background: green;
    }

        .myBtn.green .icon {
            border-color: #54a771;
        }