@model IEnumerable<ApartmentDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <i class="bi bi-arrow-down-circle-fill scrollBtn" id="scrollButton"></i>
</div>
class="" 
<div class="container">
    mio contenuto
</div>
@section Scripts{
   <script>
        $(document).ready(function () {
            $("#scrollButton").click(function () {
                $('html, body').animate({
                    scrollTop: $(".container").offset().top
                }, 800);
            });
        });
   </script>
}