	<div class="access-denied d-flex justify-content-center align-items-center">
		<div class="row">
		<img src="/image/auth/access-denied.png" alt="Descrizione dell'immagine" />

		</div>
		<div class="row">
		<span class="deniedtext">Accesso non autorizzato</span>
		</div>
</div>
