@using TravelBnB_Web.Models.ViewModel;
@model ApartmentNumberDeleteVM

<div class="container">
    <div class="row">
        <h2 class="text-center my-3"> Elimina un apparamento</h2>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center my-3">
            <form class="col-12 col-md-8 col-lg-6" method="post" asp-controller="ApartmentNumber" asp-action="CreateApartmentNumber">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="ApartmentNumber.SpecialDetails">Numero Camera</label>
                    <input asp-for="ApartmentNumber.SpecialDetails" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="ApartmentNumber.SpecialDetails">Dettagli</label>
                    <input asp-for="ApartmentNumber.SpecialDetails" class="form-control">
                </div>
                <select asp-for="ApartmentNumber.ApartmentId" asp-items="@Model.Apartments" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                </select>

                <div class="d-flex justify-content-end gap-3">
                    <a class="myBtn orange" asp-controller="Apartment" asp-action="IndexApartment">
                        <span class="text">Indietro</span><span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                            </svg>
                        </span>
                    </a>
                    <button class="myBtn green" type="submit">
                        <span class="text">Aggiungi</span><span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                            </svg>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}