@model ApartmentDTO
@{
    ViewData["Title"] = "Elimina appartamento";
}
<div class="container my-5 mybox">
	<div class="row">
		<h2 class="text-center my-3"> Elimina l'appartamento</h2>
        <div class="alert alert-danger col-12 col-md-8 col-lg-6 mx-auto" role="alert">
            Attenzione! Se elimini l'appartamento non sarà più possibile recuperarlo.
        </div>
	</div>
	<div class="row">
        <div class="d-flex justify-content-center my-3">
            <form class="col-12 col-md-8 col-lg-6" method="post" asp-action="DeleteApartment">
                <input asp-for="Id" hidden />
             <input asp-for="Id" hidden>
            <div class="mb-3">
                <label asp-for="Name">Nome</label>
                <input disabled asp-for="Name" class="form-control">
            </div>
                <div class="mb-3">
                    <label asp-for="Details">Dettagli</label>
                    <textarea disabled asp-for="Details" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label asp-for="Rate">Prezzo</label>
                    <input disabled asp-for="Rate" class="form-control">
                   
                </div>
                <div class="mb-3">
                    <label  asp-for="Mq2">Mq2</label>
                    <input disabled asp-for="Mq2" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Occupancy">Posti</label>
                    <input disabled asp-for="Occupancy" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="ImageUrl">Foto</label>
                    <input disabled asp-for="ImageUrl" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Amenity">Comfort</label>
                    <input disabled asp-for="Amenity" class="form-control">
                </div>
                <div class="d-flex gap-3 justify-content-end">

                    <a class="myBtn orange" asp-controller="Apartment" asp-action="IndexApartment">
                        <span class="text">Indietro</span><span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                            </svg>
                        </span>
                    </a>
                    <button class="myBtn red" asp-controller="Apartment" type="submit" asp-action="DeleteApartment">
                        <span class="text">Elimina</span><span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                            </svg>
                        </span>
                    </button>
                </div>

        </form>
		</div>
	</div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
